
.competances{
   text-align: center;

}

.container{
    display: flex;
    flex-direction: column;
}


.classtitleskills{
    text-align: center;
    position: relative;
    height: 67px;
    top: 2150px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
}

.front h3{
    position: relative;
    height: 77px;
    width: 277px;
    top: 2205px;
    
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    
}

.front{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.HTML{
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 277px;
    top: 2150px;
    left: -115%;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
        
}



.styleproghtml{
    width  : 250px;
    height : 50px;
    background-color: #34487c;
    border-radius: 15px;
    margin-left: 100px;
}

.progressionHtml{
    width  : 225px;
    height : 50px;
    background-color: rgba(166, 39, 216, 0.644);
    border-radius: 15px;

}

.pourcentHtml{
    font-style: italic;
    font-size: 30px;
    width: 10%;
    margin-left: 50%;
}


.CSS{
    display: flex;
    justify-content: center;

    position: relative; 
    height: 60px;
    width: 277px;
    left: -115%;
    top: 2220px;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
    
}

.noteCSS{
    display: flex;
    margin-left: 156px;

}

.JS{
    display: flex;
    justify-content: center;

    position: relative;
    height: 60px;
    width: 277px;
    top: 2272px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    left: -115%;

    
}

.noteJavaScript{
    display: flex;
    margin-left: 50px;

}








.back h3{
    position: relative;
    height: 77px;
    width: 277px;
    top: 2305px;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;   
}


.back{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back .note1,.back .note2,.back .note3,.back .note4,.back .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}


.python{
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 277px;
    top: 2250px;
    left: 115%;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
        
}

.notePython{
    display: flex;
    margin-left: 108px;

}


.java{
    display: flex;
    justify-content: center;

    position: relative; 
    height: 60px;
    width: 277px;
    left: 115%;
    top: 2280px;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    
}

.noteJava{
    display: flex;
    margin-left: 156px;

}

.C{
    display: flex;
    justify-content: center;

    position: relative;
    height: 60px;
    width: 277px;
    top: 2320px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    left: 115%;
    
}

.noteC{
    display: flex;
    margin-left: 200px;

}

/* Autre*/

.autre h3{
    position: relative;
    height: 77px;
    width: 277px;
    top: 2355px;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;   
}



.autre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.autre .note1,.autre .note2,.autre .note3,.autre .note4,.autre .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}


.figma{
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 277px;
    top: 2300px;
    left: -35%;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
        
}

.noteFigma{
    display: flex;
    margin-left: 108px;

}


.anglais{
    display: flex;
    justify-content: center;

    position: relative; 
    height: 60px;
    width: 277px;
    top: 2400px;
    left: -85%;

    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
    
}

.noteAnglais{
    display: flex;
    margin-left: 15px;

}




