
.competances{
    display: flex;
    justify-content: center;

}

#titleskills{
    position: absolute;
    height: 67px;
    width: 279px;
    top: 2594px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
}

.front h3{
    position: relative;
    height: 77px;
    width: 277px;
    top: 2205px;
    
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    
}

.front{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.front .note1,.front .note2,.front .note3,.front .note4,.front .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}


.HTML{
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 277px;
    top: 2150px;
    left: 50%;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
        
}

.noteHTML{
    display: flex;
    margin-left: 108px;

}


.CSS{
    display: flex;
    justify-content: center;

    position: relative; 
    height: 60px;
    width: 277px;
    left: 50%;
    top: 2220px;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
    
}

.noteCSS{
    display: flex;
    margin-left: 156px;

}

.JS{
    display: flex;
    justify-content: center;

    position: relative;
    height: 60px;
    width: 277px;
    top: 2272px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    left: 50%;

    
}

.noteJavaScript{
    display: flex;
    margin-left: 50px;

}








.back h3{
    position: relative;
    height: 77px;
    width: 277px;
    top: 2605px;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;   
}


.back{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back .note1,.back .note2,.back .note3,.back .note4,.back .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}


.python{
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 277px;
    top: 2550px;
    left: 50%;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
        
}

.notePython{
    display: flex;
    margin-left: 108px;

}


.java{
    display: flex;
    justify-content: center;

    position: relative; 
    height: 60px;
    width: 277px;
    left: 50%;
    top: 2580px;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    /* text-align: left; */
    
}

.noteJava{
    display: flex;
    margin-left: 156px;

}

.C{
    display: flex;
    justify-content: center;

    position: relative;
    height: 60px;
    width: 277px;
    top: 2580px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    left: 50%;

    
}

.noteC{
    display: flex;
    margin-left: 200px;

}



/* Autre*/


.figma{
    display: flex;
}

.noteFigma{
    display: flex;
    margin-left: 148px;
}

.anglais{
    display: flex;

}
.noteAnglais{
    display: flex;
    margin-left: 40px;
}

.autre .note1,.autre .note2,.autre .note3,.autre .note4,.autre .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}



