
.competances{
    display: flex;
    justify-content: center;

}

#titleskills{
    position: absolute;
    height: 67px;
    width: 279px;
    top: 2594px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
}

.front h3{
    position: absolute;
    height: 77px;
    width: 277px;
    left: 70px;
    top: 2805px;
    
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
}


.front .note1,.front .note2,.front .note3,.front .note4,.front .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}


.HTML{
    display: flex;
    position: relative;
    height: 60px;
    width: 277px;
    left: -480px;
    top: 2350px;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
        
}

.noteHTML{
    display: flex;
    margin-left: 108px;

}

.CSS{
    display: flex;
    position: absolute;
    height: 60px;
    width: 277px;
    left: 70px;
    top: 2997px;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
}

.noteCSS{
    display: flex;
    margin-left: 156px;

}

.JS{
    display: flex;
    position: absolute;
    height: 60px;
    width: 277px;
    left: 70px;
    top: 3072px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
}

.noteJavaScript{
    display: flex;
    margin-left: 50px;

}

.back h3{
    position: absolute;
    height: 77px;
    width: 277px;
    left: 797px;
    top: 3110px;

    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
    
    
}

.python{
    position: absolute;
    height: 60px;
    width: 277px;
    left: 797px;
    top: 3227px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
    
    
}

.java{
    display: flex;
    position: absolute;
    height: 60px;
    width: 277px;
    left: 797px;
    top: 3302px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
}

.C{
    position: absolute;
    height: 60px;
    width: 277px;
    left: 797px;
    top: 3377px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
}

.autre h3{
    position: absolute;
    height: 89.0999984741211px;
    width: 320px;
    left: 74px;
    top: 3437px;



    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
}

.figma{
    position: absolute;
    height: 60.75px;
    width: 236px;
    left: 70px;
    top: 3538.25px;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
        
}

.anglais{
    position: absolute;
    height: 60.75px;
    width: 236px;
    left: 70px;
    top: 3623px;

    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    
    
    
}



.noteJava{
    
    display: flex;

    margin-left: 100px;

    height: 24px;
    width: 244px;
    /*left: 1048px;*/
    top: 3245px;
    
    
}
.python{
    display: flex;
}
.notePython{

    display: flex;
    justify-content: space-between;
    margin-left: 50px;

    /*margin-bottom: 20px;*/


}
.C{
    display: flex;
}

.noteC{
    display: flex;
    margin-left: 150px;
}

.back .note1,.back .note2,.back .note3,.back .note4,.back .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}




/* Autre*/


.figma{
    display: flex;
}

.noteFigma{
    display: flex;
    margin-left: 148px;
}

.anglais{
    display: flex;

}
.noteAnglais{
    display: flex;
    margin-left: 40px;
}

.autre .note1,.autre .note2,.autre .note3,.autre .note4,.autre .note5{

    height: 26px;
    width: 26px;
    margin: 10px;
    border-radius: 15px;
    background-color: blue;

}



