footer{
    position: absolute;
    top: 5600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    width: 100%;
    height: 500px;

    background-color: #363155;

}




#titlecontact{
    text-align: center;
    margin-bottom: 0;
    height: 89px;
    width: 100%;
    top: 2900px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    
        
    
}

.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reseaux{
    display: flex;
}
#recherche{

    height: 70px;
    width: 100%;
    top: 2665px;

    text-align:center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    margin: 20px;

}

.email{
    height: 65px;
    width: 65px;
    top: 2649px;
    margin-top: 20px;
    
}

.myemail{
    height: 60px;
    width: 80%;

    margin-right: 0px;
    padding-right: 0px;
    
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 7px;

    
    
    
}

.encadremail{
    top: 2530px;
    background-color: grey;
    height: 75px;

}



.linkedin{
    height: 40px;
    width: 40px;
    left: 40%;            
    top: 2560px;
    margin: 15px;
    
}

.twitter{
    height: 40px;
    width: 40px;
    left: 49%;                
    top: 2560px;
    border-radius: 0px;
    margin: 15px;

    
    
}

.insta{
    height: 40px;
    width: 40px;
    left: 58%;
    top: 2560px;
    border-radius: 0px;
    margin: 15px;

}



@media (max-width:933px){
    .email{
        position: relative;
        top: 25px;
    }

    .encadremail{
        position: relative;
        top: 25px;
        width: 100%;
        text-align: left;
    }
   

    .reseaux{
        position: relative;
        top: 25px;
    }
}

@media( max-width:600px){

    footer{
        top: 6700px;
        align-items: center;
    }

}


@media (max-width: 575px){

    .myemail{
        font-size: 140%;   
        text-align: left; 
    }

}

@media (max-width:478px){
    #titlecontact{
        font-size: 25px;
    }

    #recherche{
        font-size: 25px;
    }
}

@media (max-width:570px){

    #recherche{
        font-size: 20px;
        width: 400px;
    }
}