 html{
    scroll-behavior:smooth;   
    box-sizing:border-box;
    max-width: 100%;

    
}
#root{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    overflow-x: hidden; 
    overflow-y:unset;
    margin: 0;
    padding: 0;
}


.banniere{
    display: flex;
    justify-content: flex-end;
}


h1{
    position: absolute;
    height: 125px;
    width: 688px;
    left: 25px;
    top: 76px;
    font-weight: 400;
    font-size: 30px;
}


.header{
    background: url('/public/fondheader1.jpeg');
    height: 418px;
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(167, 101, 228);
}

.header #menu{
    display: flex;
    list-style-type: none;
}

nav #menu{
    flex-wrap: wrap;
    height: 50px;
    width:95%;
    top: 26px;
    margin-right: 10px;
}

nav ul li{
    margin-right: 50px;
}
.role{
    font-style: italic;
}

#menuburger{
    display:none;
}


@media (max-width: 1000px){
    .header #menu{
        flex-wrap: wrap;
    }

    h1{
        display: none;
    }
}

 

@media (max-width : 772px){
    .header{
        display: block;
    }

    #menuburger{
        transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    }

    #menuburger:target{
        display: block;
        opacity: 1;
        transform: rotate(45deg) translate(2.5px, -1px);
        /* background: #232323; */
    }

    #menuburger:not(:target) {
        transform: translate3d(-335px, 0, 0);
    }

    #menuburger:target {
        transform: translate3d(0, 0, 0);
    }

    .banniere{
        display: block;
    }
    .banniere a {
        transition: color 0.3s ease;
    }

    ul{
        list-style-type:none;
    }

    #menub li{
        margin-bottom: 20px;
        background-color: #56497a;
        border-radius: 20px;
        width: 150px;
    }

    #menub li a{
        color:aliceblue;
        margin-left: 19px;
    }




    .banniere span{
    
        display: block;
        width: 33px;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1; /* passe par dessus le contenu de la page*/
        
        transform-origin: 4px 0px;  /*modifier l'origine du repère pour les opérations de transformation d'un élément.*/
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }


    


    #menu
        {
        position: relative ;
        width: 300px;
        height: 200px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
        background: #56497a;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        left: -1000px;
        
        }
  

}



