html{
    scroll-behavior:smooth;   
    box-sizing:border-box
    
}

body{
    color: white;
    background-color: black;
    
    overflow-x: hidden; 
    overflow-y:unset;
     
}

.banniere{
    display: flex;
    justify-content: space-around;
}

h1{
    position: absolute;
    height: 125px;
    width: 688px;
    left: 25px;
    top: 76px;
    font-weight: 400;
    font-size: 30px;
}


header{
    background: url('/public/fondheader1.jpeg');
    height: 418px;
    width: 100%;
  
}

a{
    text-decoration: none;
    color: rgb(167, 101, 228);
}

ul{
    display: flex;
    list-style-type: none;
}

nav ul{
    position: absolute;
    height: 50px;
    top: 26px;
    margin-right: 10px;
}

nav ul li{
    margin-right: 50px;
}
.role{
    font-style: italic;
}



@media (max-width: 1000px){
    ul{
        flex-wrap: wrap;
    }

    h1{
        display: none;
    }
}