

 .slide-container-listeimgs{
     display: none;
 }


@media( max-width:600px){


    .slide-container-listeimgs{
        position: absolute;
        top: 4800px;
        display: block;
        width: 60%;
        left: 27%;
    }



}
