.moi {
    position: relative;
    height: 552px;
    width: 440px;
    margin-right: 100px;
    margin-left: 100px;
    /* left: 114px; */
    top: 575px;
    border-radius: 78px;
    
    
}

.presentation{
    display: flex;
}



.presentation p{
    position: relative;

    height: 285px;
    width: 591px;
    top: 638px;

    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}

.presentation ul{
    position: relative;
    height: 119px;


}

.listeResume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.listeResume li{
    top: 650px;
    margin: 6px;

}

.nom{
    position: relative;
    
    height: 65px;
    width: 326px;
    /* left: 598px; */


    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    
    

}

.age{
    position: relative;
    height: 35px;
    width: 157px;
    /* left: 1032px; */

    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    
    


}

.ville{
    position: relative;
    height: 35px;
    width: 313px;
    /* left: 598px; */
    border-radius: nullpx;
    
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

    

}

.download{
    position: relative;
    height: 99px;
    width: 99px;
    top: 650px;
    /* left: 1150px; */
    border-radius: 0px;   
}




















