.realisation{
    position: absolute;
    top: 4490px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}



#titlerealisation{
    text-align: center;
    height: 105px;
    width: 335px;
    top: 3698px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    
        
    
}

.cadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    background: #615184;
    mix-blend-mode: lighten;
    height: 623.0000610351562px;
    width: 100%;
    /* top: 3699px; */
    border-radius: 147px;
    
    
}

.logogit{
    position: absolute;
    height: 63px;
    width: 68px;
    left: 47%;
    margin-top: 10px; /*     top: 3905px;  */
    margin: auto;
    border-radius: 0px;


}



@media (max-width : 600px){
    .cadre{
        border-radius: 0;
        height: 1920px;
    }



}

@media (max-width : 455px){
    .cadre{
        border-radius: 0;
        height: 1400px;
    }

@media (min-width : 320px){
    .cadre{
        width: 132%;
    }
}    

}















